<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shooter.io Dynamic Web Final Project</title>
    <style>
      /*styling the p5js canvas*/
      html, body {
        height: 100%;
      }
      
      body{
        margin: 0;
        display: flex;
        
        /* This centers our sketch horizontally. */
        justify-content: center;

        /* This centers our sketch vertically. */
        align-items: center;
      }
    </style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/addons/p5.sound.js"></script>
    <script src="sketch.js"></script>
    <script src="player.js"></script>
    <script src="bullet.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  </head>
  
  <body>
    <script>
      $(function() { 
        // var socket = io();

      });
    </script>
  </body>

</html>