<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,300" rel="stylesheet">
  <title>Shooter.io Death</title>
  <style>
 
  /*styling the p5js canvas*/
  html, body {
        height: 100%;
        background-color: black;
        font-family: 'Lato', sans-serif;
        font-weight: thin;
      }
      
      body{
        margin: 0;
        display: flex;
        
        /* This centers our sketch horizontally. */
        justify-content: center;

        /* This centers our sketch vertically. */
        align-items: center;
      }

      #container{
        display: flex;
        flex-direction: column;
        align-items: center;
        /*justify-content: center;*/
        width: 75%;
        height: 75%;
        color: white;
        border: 1px solid white;
        text-align: center;
      }

      #innerDiv1{
        height: 50%;
        width: 100%;
      }

      #innerDiv2{
        height: 50%;
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
      }

      h1{
        font-size: 90px;
      }
      span{
        font-size: 35px;
      }

      .playButton {
        font-family: 'Lato', sans-serif;
        font-weight: thin;
        border-radius: 10px;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;
        background-color: black;
        color: white;
        border: 1px solid white;
        }

        .playButton:hover {
          background-color: white;
          color: black;
        }

      
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
</head>

<body>
  <div id="container">
    <div id="innerDiv1">
    <h1> Game Over </h1> 
    <span>Score : <%= score %></span>
  </div>
  <div id="innerDiv2">
    <form name="playAgain" action="/" method="get">
      <button class="playButton" type="submit">Play again?</button><br>
    </form>
  </div>
  </div>
</body>

<script>

</script>

</html>